<!-- Contact -->
<section class="section" id="contact">
    <div class="container">
        <div class="contact-section">
            <h2 class="text-center mb-2">Eager to learn about your project</h2>
            <div class="text-center">
                <a href="mailto:natacha.aviat+map@gmail.com?subject=Contact request&body=Hello,%0D%0A%0D%0AI would like to discuss my project.%0D%0A%0D%0AMy email:%0D%0A%0D%0AMy project in a few lines:%0D%0A%0D%0AThank you!" class="btn btn-primary btn-large">Contact me</a>
            </div>
        </div>
    </div>
</section>
