<!-- Contact -->
<section class="section" id="contact">
    <div class="container">
        <div class="contact-section">
            <h2 class="text-center mb-2">Hâte de connaître votre projet</h2>
            <form id="contact-form" class="grid grid-3 contact-form-grid">
                <div class="card contact-form-card">
                    <p class="contact-form-label">Votre moyen de contact préféré</p>
                    <div class="form-group contact-form-group">
                        <input type="text" id="contact-info" name="contact-info" placeholder="Email, LinkedIn, téléphone..." required>
                    </div>
                </div>
                <div class="card contact-form-card-message">
                    <div class="form-group contact-form-group">
                        <textarea id="project-summary" name="project-summary" rows="6" placeholder="Votre projet en quelques lignes" required></textarea>
                    </div>
                </div>
                <div class="card contact-form-card-submit">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</section>
