<!-- Contact -->
<section class="section" id="contact">
    <div class="container">
        <div class="contact-section">
            <h2 class="text-center mb-2">Hâte de connaître votre projet</h2>
            <div class="text-center">
                <a href="mailto:natacha.aviat+map@gmail.com?subject=Demande de contact&body=Bonjour,%0D%0A%0D%0AJe souhaite discuter de mon projet.%0D%0A%0D%0AMon projet en quelques lignes :%0D%0A%0D%0AMerci !" class="btn btn-primary btn-large">Contactez-moi</a>
            </div>
        </div>
    </div>
</section>
